Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

clients/*/generated/
.venv/
node_modules/
__pycache__/
*.pyc
app.log
app.pid
.pytest_cache/
